
:root{
    --robot-font :'Roboto',sans-serif;
    --raleway-font : 'Raleway',sans-serif;
    --text-title : rgba(77, 90, 229, 1);
    --text-title2 :rgba(0, 0, 0, 1);
    --text-title3 :rgba(255, 255, 255, 1);
    --color-bag :rgba(245, 245, 245, 1);
    --color-bag2 :rgba(47, 48, 58, 1);
    --color-bag3 :rgba(245, 244, 250, 1);
    --color-hover :rgba(77, 90, 229, 1) ;
    --text-color :rgba(117, 117, 117, 1) ;
    --focus-color : rgba(77, 90, 229, 1);
}



body {
    font-family: var(--robot-font);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;

    
    
    
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p 

.img {
display: block;

}


.link {
    text-decoration: none;
    color: currentColor;
}


.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* reset end */
.container{
    width: 1170px;
    margin: 0 auto;
    padding:0 15px ;

    
    outline-offset: -2px;
}


/* Верхнаяя линия */
.header{
    font-family:var(--raleway-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--text-title2); 
    text-decoration: none;
    margin-right: 93px;
}
.header-container{
    display: flex;
    align-items: center;
}

.header-2{
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    display: flex;
    
}
.header-color-0{
    display: flex;

}   

.header-color{
    color:var(--text-title) ;
    text-decoration: none;
    
}
.header-color-01{
    color:var(--text-title) ;
    text-decoration: none;
    margin-right: 50px;
}

.header-color-2{
    color: rgba(0, 0, 0, 1); 
    text-decoration: none;
    margin-right: 50px;
}
.header-color-2:hover{
    color:var(--color-hover);
}
.header-color-2:focus{
    color:var(--focus-color);
}

.header-color-3:hover{
    color:var(--color-hover);
    


}
.header-color-3:focus{
    color:var(--focus-color);
}
.header-color-03{
    display: flex;
    
}
.header-color-3{
    color:var(--text-color);
    text-decoration: none;
    margin-right: 50px;
}
.header-color-4{
    color:var(--text-color);
    text-decoration: none;
    
}




/* Шапка */
.way-0{
    background-color:var(--color-bag2) ;
    width: 1600px;
    height: 600px;
    top: 80px;
}
.way{
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-transform:uppercase ;
    padding: 200px 452px;
}

.button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color:rgba(77, 90, 229, 1) ;
    cursor: pointer;
}
.button:focus{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(64, 75, 191, 1);
}
.button{
    font-family:var(--robot-font);
    height: 50px;
    width: 200px;
    font-weight: 700;
    border-radius: 4px;
    background-color: rgba(77, 90, 229, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
}



/* Особенности */

.osobennosti-zaglaviya-2{
    font-family: var(--robot-font);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase ;

}

.osobennosti-opisaniye{
    font-family: var(--robot-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color:var(--text-color)

}
.osobennosti-opisaniye-2{
    font-family: var(--robot-font);
    color:rgba(217, 217, 217, 1);

}

/* Чем мы занимаемся */


.chem-my-zanimayemsya{
font-size: 36px;
line-height: 1.16;
text-align: center;
}
/* Наша команда */

.nasha-komanda-0{
    background-color: var(--color-bag3) ;
}
.nasha-komanda-bac-color{
    background-color: var(--color-bag);
}



.nasha-komanda{
font-size: 36px;
line-height: 1.16;
text-align: center;
}
.nasha-komanda-imena{
font-weight: 500;
line-height: 1.18;
font-size: 16px;   
}
.nasha-komanda-professiya{
font-weight: 400;
line-height: 1.18;
font-size: 16px;
    color: var(--text-color)
}
/* Подвал */
.footer-0{
background-color:var(--color-bag2);
}
.footer-1{
    color: var(--text-title3);
    font-family: var(--raleway-font);
    font-size: 26px;
    line-height: 1.19;


}
.address
.address-color{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    
    
}

.address-color-1{
color: rgba(172, 172, 176, 1);
text-decoration: none;
font-size: 14px;
font-weight: 400;
line-height: 1.71;
}



/* Портфолио */
/* Верхнаяя линия */
.header-11{
    font-family:var(--raleway-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(0, 0, 0, 1); 
    text-decoration: none;
}
.header-color-11{
    color:var(--text-title) ;
}
.header-color-22{
    color: rgba(0, 0, 0, 1); 
} 
.header-color-22:hover{
    color:var(--color-hover);
}
.header-color-22:focus{
    color: var(--focus-color);
}

.header-color-33:hover{
    color:var(--color-hover)


}
.header-color-33:focus{
    color: var(--focus-color);
}
.header-color-33{
    color:var(--text-color)
}


/* Портфолио */
/* Кнопка */

.port-button{
    font-style:var(--robot-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    background-color: rgba(245, 244, 250, 1);
    border-radius: 4px;
    color:rgba(77, 90, 229, 1);
}
.port-button:hover{
    background-color: rgba(77, 90, 229, 1);
    color: aliceblue;
    cursor: pointer;
}
.port-button:focus{
color:aliceblue;
background-color:rgba(64, 75, 191, 1);
}
.port-button{
    font-family: inherit;
}
/* Проекти */ 

.projects-work-1

.projects-work-title{
    color:rgba(33, 33, 33, 1) ;
    text-decoration: none;
    font-size: 18px;
    line-height: 2;
}
.proekti-opisaniye-1{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color:var(--text-color)
    }

    /* Подвал */
    .footer-00{
        background-color:var(--color-bag2);
        }
        .footer-12{
        color: var(--text-title3);
        font-family: var(--raleway-font);
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-align: left;
        text-decoration: none;
        }

    .address-color-22,ul {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.02em;
        list-style-type: none;
        
        
        
    }
    .address-color-2{
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;


    


    }
    
    .address-color-3{
        color:rgba(172, 172, 176, 1) ;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
    }

    
    






