body {
    font-family:'Roboto';
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    
    
    
}

/* Верхнаяя линия */
.header{
    font-family:'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(0, 0, 0, 1); 
    text-decoration: none;
}
.header-2{
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
}

.header-color{
    color:rgba(33, 150, 243, 1) ;
    text-decoration: none;
}

.header-color-2{
    color: rgba(0, 0, 0, 1); 
    text-decoration: none;
}
.header-color-2:hover{
    color:rgba(33, 150, 243, 1) ;
}

.header-color-3:hover{
    color:rgba(33, 150, 243, 1);



}
.header-color-3{
    color:rgba(117, 117, 117, 1) ;
    text-decoration: none;
}




/* Шапка */
.way-0{
    background-color:rgba(47, 48, 58, 1) ;
}
.way{
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-transform:uppercase ;



}
.button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: rgba(24, 140, 232, 1);
    cursor: pointer;
}
.button{
    font-family:'Roboto';
    height: 50px;
    width: 200px;
    left: 700px;
    top: 430px;
    border-radius: 4px;
    background-color:rgba(33, 150, 243, 1) ;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
}



/* Особенности */

.osobennosti-zaglaviya-2{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase ;

}

.osobennosti-opisaniye{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    
color:rgba(117, 117, 117, 1) ;

}
/* Чем мы занимаемся */


.chem-my-zanimayemsya{
font-size: 36px;
line-height: 42px;
text-align: center;
}
/* Наша команда */
.nasha-komanda-0{
    background-color:rgba(245, 244, 250, 1) ;
}



.nasha-komanda{
font-size: 36px;
line-height: 42px;
text-align: center;
}
.nasha-komanda-imena{
font-weight: 500;
line-height: 19px;
font-size: 16px;   
}
.nasha-komanda-professiya{
font-weight: 400;
line-height: 19px;
font-size: 16px;

color: rgba(117, 117, 117, 1);
}
/* Подвал */
.footer-0{
background-color:rgba(47, 48, 58, 1) ;
}
.footer-1{
    color: rgba(255, 255, 255, 1);
    font-family: Raleway;
    font-size: 26px;
    line-height: 31px;


}
.address
.address-color{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    
    
}

.address-color-1{
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
font-size: 14px;
font-weight: 400;
line-height: 24px;
}



/* Портфолио */
/* Верхнаяя линия */
.header-11{
    font-family:'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(0, 0, 0, 1); 
    text-decoration: none;
}
.header-color-11{
    color:rgba(33, 150, 243, 1) ;
}
.header-color-22{
    color: rgba(0, 0, 0, 1); 
} 
.header-color-22:hover{
    color:rgba(33, 150, 243, 1) ;
}

.header-color-33:hover{
    color:rgba(33, 150, 243, 1);


}
.header-color-33{
    color:rgba(117, 117, 117, 1) ;
}


.header-22{
    font-family:'roboto';
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 1);
}


/* Портфолио */
/* Кнопка */

.port-button{
    font-style:'roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    background-color: rgba(245, 244, 250, 1);
    
}
.port-button:hover{
    background-color: rgba(24, 140, 232, 1);
    color: aliceblue;
    cursor: pointer;
}
.port-button{
    font-family: inherit;
}
/* Проекти */ 

.projects-work-1{ 
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    text-decoration: none;
    
    
}
.projects-work-title{
    color:rgba(33, 33, 33, 1) ;
    text-decoration: none;
    font-size: 18px;
}
.proekti-opisaniye-1{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    color:rgba(117, 117, 117, 1) ;
    }

    /* Подвал */
    .footer-00{
        background-color:rgba(47, 48, 58, 1) ;
        }
        .footer-12{
        color: rgba(255, 255, 255, 1);
        font-family: Raleway;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        text-align: left;
        text-decoration: none;
        }

    .address-color-22,ul {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.02em;
        list-style-type: none;
        
        
        
    }
    .address-color-2{
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;


    


    }
    
    .address-color-3{
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
    }

    
    






